seed_everything: true
trainer:
  max_epochs: 100
  accelerator: gpu
  devices: 1
  default_root_dir: logs/td_vits
  log_every_n_steps: 10
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        filename: "best"
        monitor: "val_loss"
        mode: "min"
        save_top_k: 1
        save_last: true
    - class_path: lightning.pytorch.callbacks.EarlyStopping
      init_args:
        monitor: "val_loss"
        patience: 5
        mode: "min"
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: "step"
model:
  model_name: "vit_small_patch16_224"
  stats_path: stats.pth
  learning_rate: 0.0009
  warmup_epochs: 10
  img_size: 224
  patch_size: 16
  encoder_dim: 384
  dim: 192
  depth: 3
  num_classes: 4
  dropout_rate: 0.2
data:
  data_dir: /home/moti/sickle_s2/sickle_s2.zarr
  batch_size: 256
  num_workers: 40
  split_ratio: 0.8
